<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Signup</title> 
    </head>
    <body>
        <div id="signup_input_div">
            <label for="username_input">이름</label>
            <input type="text" id="username_input" placeholder="이메일 주소">
            <label for="password_input">패스워드</label>
            <input type="password" id="password_input">
            <label for="picture_input">프로필사진</label>
            <input type="file" id="picture_input">
        </div>
        <div id="signup_button_div">
            <button id="submit_button">전송</button>
            <button id="cancel_button">취소</button>
        </div>
    </body>
    <script>
        const homeURL = '/home';
        const usernameInput = document.querySelector('#username_input');
        const passwordInput = document.querySelector('#password_input');
        const pictureInput = document.querySelector('#picture_input');

        // username, password, picture(file)
        async function sendRequest() {
            const pictureFile = pictureInput.files[0]

            const reqBody = new FormData();

            if (typeof pictureFile == 'undefined') {
                reqBody.set("username", usernameInput.value);
                reqBody.set("password", passwordInput.value);
            }
            else {
                reqBody.set("username", usernameInput.value);
                reqBody.set("password", passwordInput.value);
                reqBody.set("picture", pictureFile);
            }

            console.log('signup.html.sendRequest().reqBody:', reqBody);

            const response = await fetch(
                '/user/signup'
                , {
                    "method": 'POST'
                    , "body": reqBody
                }
            );

            const jsonResp = await response.json();

            console.log('signup.html.sendRequest().jsonResp:', jsonResp);

            if (jsonResp["success"] == true){
                window.location.replace(homeURL);           
            }
        }

        const submitButton = document.querySelector('#submit_button');
        const cancelButton = document.querySelector('#cancel_button');

        submitButton.addEventListener('click', sendRequest);
        cancelButton.addEventListener('click', () => {
            window.location.replace(homeURL);           
        });
    </script>
</html>
